global
    maxconn 512
    log stdout format raw local0
    log stdout format raw daemon  
    
defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 10s
    timeout client 50s
    timeout server 50s

frontend pgsql_front
    bind *:5432
    default_backend pgsql_back

backend pgsql_back
    balance roundrobin
    option tcp-check
    server replica1 dbReplica1:5432 check
    server replica2 dbReplica2:5432 check
